<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FileBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NanoFileBrowser-Package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NanoFileBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NanoFileBrowserFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Prerequisites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TVFileBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B01916891B2C0C8400311461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01916B31B2C0CAC00311461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01916D01B2C1CAC00311461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B02045A41B343566006ACE1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C5EF51771107F00295DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C5F101771107F00295DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03C7F571B3352380024F0B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05CE2651B334BD200986C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0649C631BA0E6B70066BEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B08285F01BAFD54D006792A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B098202B1BAFC681003F6636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B5F8721B2D0E7000C0E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B5F8A51B2D127200C0E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B5F8B11B2D127200C0E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0F693081B334DDA00A03FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
